
body {
    background: url("images/pixel_weave_@2X.png") fixed;
}

button {
    margin: 2px 5px;
}

tbody .editInputs td input {
    width: 120px;
    margin: 0 auto;
}

td, th {
    text-align: center;
}

.row-hide {
    display: none;
}

.table-striped > tbody > tr:nth-child(4n+1) > td {
    background-color: #BBB;
}